<div #skillsContainer class="skills-container">
    <!-- Exemple pour une section de compétences -->
     <section id="competences">
      <app-test></app-test>
      <div class="skillsItem">
        <p class="contenu">
          Elles sont en constantes améliorations car pour moi la joie de ce métier fait que l'on en apprend tous les jours, d'autant plus en étant impliqué, curieux et passionné.
        </p>
        
       
      </div>
      <div *ngFor="let skill of skills" class="skill">
        <span class="skill-name">{{ skill.name }}</span>
        <div class="progress-container" (mouseover)="hoveredSkill = skill" (mouseleave)="hoveredSkill = null">
          <mat-progress-bar mode="determinate" [value]="skill.value"></mat-progress-bar>
          <span class="progress-value" *ngIf="hoveredSkill === skill">{{ skill.value }}%</span>
        </div>
      </div>      
     </section>    


    <!-- Section affichage des projets -->
    <section class="portfolio-container" id="projets">
      <h2 class="subtitle">Mes projets</h2>
    
      <div class="filter-buttons">
        <button *ngFor="let category of ['Tous', 'Formation', 'Entreprise']"
                mat-button 
                [class.active]="selectedCategory === category"
                (click)="selectCategory(category)">
          {{ category }}
        </button>
      </div>
    
      <div class="projects-grid">
        <mat-card *ngFor="let project of filteredProjects" class="project-card" @fade>
          <div class="image-container-projet">
            <div class="image-content">
              <video #videoRef *ngIf="project.image" class="background-video"
                [src]="project.image" autoplay loop muted preload="auto"
                (error)="onVideoError()"></video>
              <div class="overlay">
                <mat-icon (click)="routeToReal(project.id)" class="icon-overlay">add</mat-icon> 
                <p class="project-title">{{project.title}}</p>
              </div>
            </div>
          </div>
      
          
        </mat-card>
      </div>
    </section>
    

    <!-- Section affichage du CV -->
    <section id="cv" class="cv-section">
        <h2 class="subtitle">Mon CV</h2>
        <!-- Affichage du PDF dans un iframe -->
        <div class="image-container">
            <img src="assets/CV.png" alt="CV Image" />
        </div>
        
        <!-- Bouton pour télécharger le PDF -->
        <a href="assets/CV_ValentinNivesse.pdf" download>
        <button class="cv-btn" mat-raised-button>Télécharger CV en PDF</button>
        </a>
    </section>

    
    
</div>



<app-dashboard></app-dashboard>