
<section class="body" #timeline [ngClass]="getBodyClass()" id="experiences">
  <div class="row">
    <div class="col-md-12">
      <div class="subtitle-div"><h2 class="subtitle">Mon parcours</h2></div>
      
      <ul class="timeline" >
        <li class="timeline-item" *ngFor="let data of dataReals">
          <div class="timeline-badge">
            <i class="glyphicon glyphicon-check">
              <mat-icon>{{data.iconTimeline}}</mat-icon>
            </i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <div>
                <img [src]="data.logo"  alt="parcours logo" />
              </div>
              <div>
                <h4 class="timeline-title">{{data.title}}</h4>
                <p class="period">{{data.periode}}</p>
                <button *ngIf="data.real" [routerLink]="data.real" mat-raised-button color="primary" class="timeline-btn-real"> En savoir plus<mat-icon>arrow_right_alt</mat-icon></button>
                <a *ngIf="data.lien" href="{{data.lien}}" mat-raised-button color="primary" class="timeline-btn-real">Formation<mat-icon>arrow_right_alt</mat-icon></a>
              </div>              
            </div>

            <p *ngIf="data.formation" class="explic"><span>&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>{{data.titre}}</p>
            <p *ngIf="!data.formation" class="explic"><span>&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>{{data.poste}}</p>
            <p class="explic"><span>&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>{{data.lieu}}</p>

            <div class="timeline-body" >
                <div>
                  <p class="contenu"><span>&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>{{data.body}}</p>
                </div>
                <div *ngIf="data.comps && data.comps.length > 0">
                  <div  class="timeline-comps" *ngFor="let comp of data.comps">
                    <div *ngIf="comp.isTech == true">
                      <button class="btn-comp-tech" (click)="routeToComp(comp.id)" mat-raised-button color="primary">{{comp.btnName}}</button>
                    </div>
                    <div *ngIf="comp.isTech == false">
                      <button class="btn-comp-hum" (click)="routeToComp(comp.id)" mat-raised-button color="primary">{{comp.btnName}}</button>
                    </div> 
                  </div>
                </div>
                
                  
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</section>
<div></div>
    

