<body>

    <div class="banner">
        <div class="slider" style="--quantity: 10">
            <div class="item" style="--position: 1"><img src="./assets/skills/angular.png" alt=""><p class="skill-title">Angular</p></div>
            <div class="item" style="--position: 2"><img src="./assets/skills/git.png" alt="">Git</div>
            <div class="item" style="--position: 3"><img src="./assets/skills/javascript.png" alt="">Java</div>
            <div class="item" style="--position: 4"><img src="./assets/skills/sql.png" alt="">SQL / PL SQL</div>
            <div class="item" style="--position: 5"><img src="./assets/skills/tutf.png" alt="">Tests Unitaires / Fonctionnels</div>
            <div class="item" style="--position: 6"><img src="./assets/skills/uxui.png" alt="">UX/UI</div>
            <div class="item" style="--position: 7"><img src="./assets/skills/autonomy.png" alt="">Autonomie</div>
            <div class="item" style="--position: 8"><img src="./assets/skills/document.png" alt="">Rédaction de document</div>
            <div class="item" style="--position: 9"><img src="./assets/skills/problem.png" alt="">Résolution de problème</div>
            <div class="item" style="--position: 10"><img src="./assets/skills/agile.png" alt="">Méthode agile</div>
        </div>
        <div class="content">
            <h1 >
                Mes compétences
            </h1>
            <div class="author">
                <h2>Développeur</h2>
                <p><b>Web</b></p>
                <p>
                    Voici une présentation non exhaustive des compétences que j'ai pu acquérir en tant que développeur FullStack
                </p>
            </div>
            <div class="model"></div>
        </div>
    </div>
    
</body>
