.content {
  padding-left: 10%;
  background-color: #0a192f;
}
  
.content > mat-card {
    width: 200px;
    
}
.mat-elevation-z4 {
    border: 1px solid;
    margin: 4%;
}
.card-title {
    justify-content: center;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.img-card {
    height: 300px;
    object-fit: contain;
}

mat-card {
    max-width: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  mat-card:hover {
    transform: scale(1.05);
  }
  
  mat-card-header {
    background-color: #e53935;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  mat-card-title {
    font-size: 1.5em;
    padding-bottom: 10px;
    vertical-align: middle;
  }
  
  mat-card-subtitle {
    font-size: 1em;
    color: #ddd;
  }
  
  mat-card-content {
    color: #555;
    padding: 20px;
    border-left: solid #2d6c8b;
    margin: 2%;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    border-top: 1px solid #ddd;
  }
  
  /* Add a button style */
  button {
    background-color: #2d6c8b;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #c62828;
  }



  /* Conteneur de la flèche avec fond */
.arrow-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px; /* Largeur du coin */
  height: 60px; /* Hauteur du coin */
  background: #2d6c8b; /* Couleur du fond */
  clip-path: polygon(100% 0, 0 0, 100% 100%); /* Découpe en triangle */
  display: flex;
  align-items: baseline;
  justify-content: end;
  z-index: 10;  
}

/* Style de l'icône */
.arrow-icon {
  font-size: 24px;
  margin: 10%;
  color: white; /* Icône blanche pour contraster */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.arrow-icon:hover {
  transform: scale(1.2);
}
  

  mat-card {
    position: relative;
    overflow: hidden;
  }