<div class="footer">
  <div class="bubbles">
    <div class="bubble" *ngFor="let bubble of bubbles" 
      [ngStyle]="bubble.style">
    </div>
  </div>
  <div class="content">

    <form [formGroup]="contactForm" >
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput rows="4" formControlName="message" required></textarea>
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">
        Envoyer
      </button>
    </form>

    <div class="footer-items">
      <div class="footer-item"><p><mat-icon class="items--icon">mail</mat-icon>valentinnivesse40@gmail.com</p></div>
      <div class="footer-item"><p class="footer-item-call"><mat-icon class="items--icon">call</mat-icon>06 86 16 15 55</p></div>
      <div class="footer-item"><p><mat-icon class="items--icon">home</mat-icon>33000 Bordeaux</p></div>

      <a class="linkedin" href="https://www.linkedin.com/in/valentin-nivesse-7aab66199/"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
        <path fill="#0288D1" d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z"></path><path fill="#FFF" d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z"></path>
        </svg></a>
    </div>
  </div>

  <svg style="position:fixed; top:100vh">
    <defs>
      <filter id="blob">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
        <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
      </filter>
    </defs>
  </svg>
</div>

  



  