header {
    position: fixed;
    width: 35%;          /* Occupy half of the screen */
    height: 100vh;       /* Full height of the viewport */
    background-color: #0a192f;
    display: flex;
    flex-direction: column; /* Center the content vertically */
    padding: 20px;
    z-index: 500;/* Ensure it stays on top of other elements */
    top: 40%;
  
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 60%;
      
  
      .logo {
        margin-bottom: 40px;
        a {
          color: #64ffda;
          font-size: 24px;
          text-decoration: none;
        }
      }
  }
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.63rem);
  cursor: pointer;
  margin: 5%;

  .links {
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 0.625rem;
  }
  .sidenav-nav-item {
      width: 100%;

      .sidenav-nav-link {
          display: inline-flex;
          align-items: center;
          height: 3rem;
          color: #f3f3f3;
          border-radius: 0.625rem;
          text-decoration: none;
          transition: color .3s ease;

          .sidenav-link-icon {
              font-size: 22px;
              width: 2rem;
              min-width: 2rem;
              text-align: center;
          }          
      }
  }

  .sidenav-nav-item:hover {
      .sidenav-nav-link {
          background-color: #fff;
          color: #000;
      }
      .links {
        background-color: #fff;
        color: #000;
    }
  }
}

.active {
    background-color: #fff;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: #000;
    }
}

.footer {
  height: 100px;
}