.about {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; // Centre le contenu verticalement
  width: 100%;
  padding-top: 2%;

  .about-content {
      display: flex;
      align-items: center;
      text-align: center;

      .about-photo {
          border-radius: 50%;
          width: 190px;
          margin-right: 50px;
      }
      .about-text {
          color: #ccd6f6;
          h2 {
              color: #64ffda;
          }
      }
  }
}

  .profile-header {
    text-align: center;
    padding: 50px 0;
  }
  
  .text-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .text-content p {
    font-size: 1.2em;
    color: #777;
  }
  
  .avatar-container {
    margin: 30px 0;
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .illustration {
    max-width: 100%;
    height: 600px;
  }

.mouse-icon {
  color: #6C5B7B;
  font-size: 35px;
  width: 100%;
  height: auto;
}

.scroll-indicator {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-0%) translateY(0);
  }
  50% {
    transform: translateX(-0%) translateY(10px);
  }
}

  