<section id="about" #about class="about">
  <div class="profile-header">
    <div class="text-content" @fadeInUp>
      <h1>Designer, Frontend & Backend Developer</h1>
      <p>J'aime développer et innover dans un domaine qui me plait.</p>
      <button mat-raised-button class="btn-apropos" (click)="goToApropos()">A propos de moi <mat-icon>arrow_forward</mat-icon> </button>
    </div>
    
    <div class="avatar-container" @fadeInUp>
      <img src="assets/avatar.png" alt="Avatar" class="avatar">
      <p class="avatar-name">Valentin Nivesse</p>
    </div>
    
    <div class="illustration-container" @fadeInUp>
      <img src="assets/illustrationAccueil.jpg" alt="Illustration" class="illustration">     
    </div>
    
    <div class="scroll-indicator" @fadeInUp>
      <mat-icon class="mouse-icon">mouse</mat-icon>
    </div>
  </div>
</section>
