
<section id="about" id="home"  class="about">
  <div class="profile-header">
    <div class="text-content">
      <h1>Designer, Frontend & Backend Developer</h1>
      <p>J'aime développer et innover dans un domaine qui me plait.</p>
    </div>
    <div class="avatar-container">
      <img src="assets/avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="illustration-container">
      <img src="assets/illustrationAccueil.jpg" alt="Illustration" class="illustration">     
    </div>
  </div>
  </section>
